.about {
  display: flex;
  justify-content: space-between;
  background-color: #0a2850;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  padding: 100px 0 0 80px;
  margin: 0;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  padding: 119px 80px 173px 0;
  margin: 0;
}

.about__paragraph {
  padding: 0;
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin: 0;
}
